.App {
  text-align: center;
}


.App-header {
  background: linear-gradient( rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.6) ), url("https://i.imgur.com/iPb7PIp.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: rgb(49, 103, 219);

}

.App-link {
  color: #61dafb;
}
