body {
  background: #141414;
  color: #ffffff
}
.heading {
	margin-top: 4rem;
  font-size: 5rem;
}
.row { 
  padding-right: 85%;
  margin-left: 1rem;
  margin-right: -1rem;
  padding-bottom: 1rem;
  width: 100;
}

.movie-container > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
	margin-top: 100px;
	position: relative;
	transition: transform 0.2s;
}


.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 1rem;
	padding: 20px;
	text-align: center;
}
img {
  width: 200px;
  height: 300px
}
a {
	margin-left: 10px;
	color: white;
	font-size: 0.9rem;
}
a:active {
	background-color: slateblue
}